# Ignore the node_modules directory
node_modules/

# The file containing environment variables 
.env

# VSCode project files 
.vscode/

# IntelliJ project files 
.idea/

# eclipse project file
.settings/
.classpath
.project

# vi / vim files
*~
.*.swp

# OSX finder crap
.DS_Store

# git
*.orig
*.rej

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Other
fyne-cross/